body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.comingSoonImageContainer {
  display: grid;
  place-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .comingSoonImageContainer {
    height: 80vh;
  }
  .comingSoonImageContainer img {
    max-width: 80%;
  }
}

body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

.comingSoonImageContainer {
  display: grid;
  place-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .comingSoonImageContainer {
    height: 80vh;
  }
  .comingSoonImageContainer img {
    max-width: 80%;
  }
}
